
body,
html,
* {
  font-size: 25px;
  box-sizing: border-box;
  margin: 20px;
  padding: 0px;
}

img{
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

#app {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.card {
  height: auto;
  width: 20vw;
  border-radius: 25px;
  justify-content: space-between;
  text-align: center;
  display: flexbox;
  transition: all 1s;
}

.card-img {
  width: 65%;
  margin-left: 10%;
  margin-right: 10%;

}

.card-text-color {
  color: var(--text);
  display: flexbox;
}

.card-header-color {
  color: var(--text);
  display: flexbox;
  padding-top: 10px;
}

.card:hover {
  transform: scale(1.05); 
} 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 1180px) {
  .card {
      width: 45%;
  }
  img{
    object-fit: cover;
  }
}
@media screen and (max-width: 500px) {
  .card {
      width: 80%;
  }
  img{

    object-fit: cover;
  }
}