/* Color Scheme
#25253a
#f1f1ed
#837544
#4f5540
*/


body,
html,
* {
  box-sizing: border-box;
  margin: 20px;
  padding: 0px;
}

#chart {
  position: relative;
  z-index: 10;
  transform: translateX(10%);
}

h1{
 font-size: 60px;
}

body{
  background-color:#11214c
}

img{
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

#app {
  margin-top: 10rem;
  margin-right: 46rem;
  display: flex;
  transform: translateY(25%);
  background-color: rgb(220, 255, 255);;
}

.center{
  text-align: center;
  color: #a5aed2;
  top:0;
  left:0;
  background-color: #a5aed2;
  position: fixed;
  width:68%
}

.centerbar{
  text-align: center;
  color: rgb(10, 47, 82);
  background-color: #f4f8fd;
}

.scorebar{
  text-align: center;
  color: #a5aed2;
  top:0;
  right:0;
  background-color: #a5aed2;
  position: fixed;
  height:100%;
  width:31%
}

.scoremessage{
  transform: translateY(70%);
}

.score{
  text-align: center;
  font-size: larger;
  color: rgb(10, 47, 82);
  background-color: #f4f8fd;
  height:93%; 
}

.card {
  transform: translateY(25%);
  width: 28vw;
  justify-content: space-between;
  text-align: center;
  display: flexbox;
  transition: all 1s;
  background-color: rgba(240, 255, 255, 0.849);
  
}

.card-text-color {
  color: aliceblue;
  display: flexbox;
}

.card-header-color {
  color: aliceblue;
  display: flexbox;
  padding-top: 10px;
}

.card:hover {
  transform: scale(1.05); 
} 

.down {
  position: relative;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid goldenrod;
  border-top: 0.2em solid goldenrod;
  transform: rotate(135deg);
  margin-right: 1.0em;
  margin-left: 1.0em;
}
 .up {
   position: relative;
   content: "";
   display: inline-block;
   width: 15px;
   height: 15px;
   border-right: 0.2em solid goldenrod;
   border-top: 0.2em solid goldenrod;
   transform: rotate(-45deg);
   margin-right: 1.0em;
   margin-left: 1.0em;
 }

 #colorthing{
background-color: rgb(21, 226, 72);
 }

 #colorthing2{
  background-color: rgb(212, 4, 4);
   }

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 25px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: aliceblue;
  transition: all 1s;
}

button:hover {
  border-color: #f7b603;
  transform: scale(1.3);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 1180px) {
  .card {
      width: 45%;
  }
  img{
    object-fit: cover;
  }
}
@media screen and (max-width: 500px) {
  .card {
      width: 80%;
  }
  img{

    object-fit: cover;
  }
}